.contact{
    padding: 30px;
    text-align: center;
    cursor: pointer;
    .single-contact{
         background-color: #ebebeb;
         border-radius: 20px;
         padding: 20px; 
         text-align: center;
         margin: 20px;
       
         opacity: 0;
         transform: translateY(-50px);
         transition: all 0.5s ease-in-out;
         img{
            width: 100px; 
            height: 100px;
            border-radius: 50%;
         }
        &:hover{
            transition: 0.5s;
            box-shadow: 0px 0px 15px #0ba249;
            transform: scale(1.1) !important;
        } 
    }
}

.showing{ 
    opacity: 1 !important;
    transform: translateY(0px) !important;
}
::-webkit-scrollbar{
    display: none;
}